@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* @font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../public/fonts/Roboto.otf");
  } */


  @keyframes fadeInUp {
    0% {
      /* transform: translateY(100%); */
      opacity: 0;
    }
    100% {
      /* transform: translateY(0%); */
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 2s fadeInUp;
  }