@tailwind base;
@tailwind components;
@tailwind utilities;

  html {
    scroll-behavior: smooth;
  }

  @keyframes fadeInUp {
    0% {
      /* transform: translateY(100%); */
      opacity: 0;
    }
    100% {
      /* transform: translateY(0%); */
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 2s fadeInUp;
  }
